.grid-container {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Crea 5 columnas con ancho igual */
  gap: 30px; /* Espacio entre cada item */
}

.grid-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 3px;
  width: 90%;
  text-align: center;
  font-size: 14px; /* Alinea el contenido al centro */

}
.grid-item img{
  width: 100%;
  height: 300px; /* Establece una altura fija para todos los items */
  object-fit: cover;
  border-radius: 2px #000 5px;
}
.cardButton {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #1bcb7f;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}
.cardButton:hover {
  opacity: 0.7;
}




@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* cambia a 2 columnas */
    gap: 20px; /* reduce el espacio entre items */
  }

  .grid-item {
    width: 95%; /* aumenta el ancho de los items */
    font-size: 12px; /* reduce el tama単o de la fuente */
  }

  .cardButton {
    font-size: 13px; /* reduce el tama単o de la fuente */
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr; /* cambia a una columna */
    gap: 10px; /* reduce el espacio entre items */
  }

  .grid-item {
    width: 100%; /* aumenta el ancho de los items */
    font-size: 11px; /* reduce el tama単o de la fuente */
  }

  .cardButton {
    font-size: 12px; /* reduce el tama単o de la fuente */
  }
}